@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #081f57;
  --color-primary-hover: #071c4e;
  --color-primary-active: #071a4a;
  --color-secondary: #bc955c;
  --color-secondary-hover: #a98653;
  --color-secondary-active: #a07f4e;
  --color-on-primary: #fff;
  --color-on-primary-hover: #fff;
  --color-on-primary-active: #fff;
  --color-on-secondary: #000;
  --color-on-secondary-hover: #000;
  --color-on-secondary-active: #000;
  --color-theme-page: #fff;
  --color-theme-page-light: #fff;
  --color-theme-page-dark: #141414;
  --color-theme-brand: #081f57;
  --color-theme-brand-light: #081f57;
  --color-theme-brand-dark: #bc955c;
  --color-theme-link: #081f57;
  --color-theme-link-light: #081f57;
  --color-theme-link-dark: #bc955c;
  --color-default-white: #fff;
  --color-default-white-hover: #e6e6e6;
  --color-default-white-active: #d9d9d9;
  --color-default-white-opacity10: #ffffff1a;
  --color-default-white-shade30: #b3b3b3;
  --color-default-white-shade20: #ccc;
  --color-default-white-shade70: #4d4d4d;
  --color-default-white-shade90: #191919;
  --color-default-white-tint30: #fff;
  --color-default-white-tint70: #fff;
  --color-default-white-hover-tint70: #f8f8f8;
  --color-default-white-hover-shade70: #454545;
  --color-default-black: #000;
  --color-default-black-hover: #191919;
  --color-default-black-active: #262626;
  --color-default-black-opacity10: #0000001a;
  --color-default-black-tint10: #191919;
  --color-default-black-tint20: #333;
  --color-default-black-tint30: #4d4d4d;
  --color-default-black-tint70: #b3b3b3;
  --color-default-black-tint90: #e6e6e6;
  --color-default-black-shade30: #4d4d4d;
  --color-default-black-shade70: #b3b3b3;
  --color-default-black-hover-shade70: #080808;
  --color-default-black-hover-tint70: #bababa;
  --color-social-facebook: #1877f2;
  --color-social-facebook-hover: #166bda;
  --color-social-facebook-active: #1465ce;
  --color-social-twitter: #000;
  --color-social-twitter-hover: #1a1a1a;
  --color-social-twitter-active: #333;
  --color-social-youtube: red;
  --color-social-youtube-hover: #e60000;
  --color-social-youtube-active: #d90000;
  --color-social-instagram: #ff3351;
  --color-social-instagram-hover: #e62e49;
  --color-social-instagram-active: #d92b45;
  --color-social-vimeo: #1ab7ea;
  --color-social-vimeo-hover: #17a5d3;
  --color-social-vimeo-active: #169cc7;
  --color-social-linked-in: #2867b2;
  --color-social-linked-in-hover: #245da0;
  --color-social-linked-in-active: #225897;
  --color-social-twitch: #9146ff;
  --color-social-twitch-hover: #833fe6;
  --color-social-twitch-active: #7b3cd9;
  --color-social-snapchat: #fffc00;
  --color-social-snapchat-hover: #fffc19;
  --color-social-snapchat-active: #fffc26;
  --color-social-pinterest: #e60023;
  --color-social-pinterest-hover: #cf0020;
  --color-social-pinterest-active: #c4001e;
  --color-social-tiktok: #fe2c55;
  --color-social-tiktok-hover: #fe4166;
  --color-social-tiktok-active: #fe4c6f;
  --color-social-cameo: #ff087c;
  --color-social-cameo-hover: #ff2189;
  --color-social-cameo-active: #ff2d90;
  --color-social-google: #ea4335;
  --color-social-google-hover: #ec5649;
  --color-social-google-active: #ed5f53;
  --color-social-apple: #1d1d1f;
  --color-social-apple-hover: #343435;
  --color-social-apple-active: #3f3f41;
  --color-social-inflcr: #0168ff;
  --color-social-inflcr-hover: #015ee6;
  --color-social-inflcr-active: #0153cc;
  --color-social-opendorse: #91c040;
  --color-social-opendorse-hover: #83ad3a;
  --color-social-opendorse-active: #7ba336;
  --color-social-ear-it: #2f419a;
  --color-social-ear-it-hover: #2b3c90;
  --color-social-ear-it-active: #273788;
  --color-system-danger: #d03;
  --color-system-danger-tint: #fef2f5;
  --color-system-warning: #ce7c00;
  --color-system-warning-tint: #fdf8f2;
  --color-system-success: #00a524;
  --color-system-success-tint: #f2faf4;
  --color-system-info: #8b5dc4;
  --color-system-info-tint: #f3eff9;
  --color-slicing-images-promos: #e4ffc5;
  --color-slicing-mmr-iab: #b8ecef;
  --color-slicing-native: #f2a685;
  --color-slicing-content-sponsor: #cac9ff;
  --color-sidearm-primary: #003057;
  --color-sidearm-primary-hover: #002b4e;
  --color-sidearm-primary-active: #00294a;
  --color-sidearm-secondary: #e87722;
  --color-sidearm-secondary-hover: #ea8538;
  --color-sidearm-secondary-active: #eb8b43;
  --color-learfield-primary: #000;
  --color-learfield-primary-hover: #191919;
  --color-learfield-primary-active: #262626;
  --color-theme-elevated: #e8e8e8;
  --color-theme-elevated-light: #e8e8e8;
  --color-theme-elevated-light-hover: #ccc;
  --color-theme-elevated-light-active: #ebebeb;
  --color-theme-elevated-dark: #2f2e36;
  --color-theme-elevated-dark-hover: #2a2931;
  --color-theme-elevated-dark-active: #28272e;
  --color-theme-elevated-light-shade30: #a2a2a2;
  --color-theme-elevated-dark-shade30: #212026;
  --color-theme-surface-alt: #f5f5f5;
  --color-theme-surface-alt-light: #f5f5f5;
  --color-theme-surface-alt-dark: #2b2a32;
  --color-theme-surface: #f9f9f9;
  --color-theme-surface-light: #f9f9f9;
  --color-theme-surface-light-dark: #f4f4f4;
  --color-theme-surface-dark: #26262e;
  --color-theme-background: #fff;
  --color-theme-background-light: #fff;
  --color-theme-background-light-hover: #e6e6e6;
  --color-theme-background-light-active: #d9d9d9;
  --color-theme-background-dark: #1e1d23;
  --color-theme-background-dark-hover: #343439;
  --color-theme-background-dark-active: #403f44;
  --color-theme-background-light-tint70: #fff;
  --color-theme-background-dark-shade70: #bcbbbd;
  --color-theme-background-light-hover-tint70: #f8f8f8;
  --color-theme-background-dark-hover-shade70: #101011;
  --color-theme-safe: #262628;
  --color-theme-safe-light: #262628;
  --color-theme-safe-dark: #e8e8e8;
  --color-theme-safe-light-tint70: #bebebf;
  --color-theme-safe-dark-shade70: #0b0b0c;
  --color-theme-muted: #666;
  --color-theme-muted-light: #666;
  --color-theme-muted-dark: #969696;
  --color-theme-muted-light-tint30: #949494;
  --color-theme-muted-light-tint70: #d1d1d1;
  --color-theme-muted-dark-shade70: #2d2d2d;
  --color-theme-muted-dark-tint30: #b6b6b6;
  --color-theme-border: #e0e0e0;
  --color-theme-border-light: #e0e0e0;
  --color-theme-border-dark: #34333b;
  --color-theme-border-light-tint30: #e9e9e9;
  --color-theme-border-light-tint70: #f6f6f6;
  --color-theme-border-dark-shade70: #100f12;
  --color-theme-border-dark-tint30: #717076;
  --color-primary-tint20: #394c79;
  --color-primary-tint30: #526289;
  --color-primary-tint70: #b5bccd;
  --color-primary-shade10: #071c4e;
  --color-primary-shade20: #061946;
  --color-primary-shade30: #06163d;
  --color-primary-shade70: #02091a;
  --color-secondary-shade20: #96774a;
  --color-secondary-shade30: #846840;
  --color-secondary-shade70: #382d1c;
  --color-secondary-tint10: #c3a06c;
  --color-secondary-tint20: #c9aa7d;
  --color-secondary-tint30: #d0b58d;
  --color-on-primary-shade30: #b3b3b3;
  --color-on-primary-tint30: #fff;
  --color-on-primary-tint70: #fff;
  --color-on-secondary-shade30: #000;
  --color-on-secondary-shade70: #000;
  --color-on-secondary-tint30: #4d4d4d;
  --color-theme-brand-light-tint70: #b5bccd;
  --color-theme-brand-light-shade30: #06163d;
  --color-theme-brand-dark-shade30: #846840;
  --color-theme-brand-dark-shade70: #382d1c;
}
